language: php
php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6
before_script: 
  - echo "serverScheme = http" >> system/config/config.ini
  - echo "serverName = your.domain.name" >> system/config/config.ini
  - php yellow.php version
script: php yellow.php build test
