language: php
php:
  - 7.0
  - 5.6
  - 5.5
  - 5.4
  - 5.3
  - hhvm
before_script: 
  - echo "ServerScheme:http" >> system/config/config.ini
  - echo "ServerName:your.domain.name" >> system/config/config.ini
  - echo "InstallationMode:0" >> system/config/config.ini
  - php yellow.php version
script: 
  - php yellow.php build test
