@charset "UTF-8";

.headerimg {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

nav a {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	color: #020509;
	
}
nav a:visited {
	color: #6C1B97;
	text-decoration: none;
}
nav a:hover {
	color: #E40A0E;
	text-decoration: underline;
}
nav a:active {
	color: #19CB9F;
	text-decoration: none;
}
nav a:link {
	text-decoration: none;
}

a {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #0DC799;
	
}
a:visited {
	color: #6C1B97;
	text-decoration: none;
}
a:hover {
	color: #E40A0E;
	text-decoration: underline;
}
a:active {
	color: #19CB9F;
	text-decoration: none;
}
a:link {
	text-decoration: none;
}
.navbgcolor {
	background-color: #FFFFFF;
}



.table {
	background-color: #CFCFCF;
}

.banner {
	text-align: center;
	background-color: #5CB2E8;
}

.banner a {
	font-weight: bold;
	font-size: 42px;
	color: #FFFFFF;
}

.pageheader {
	text-align: center
}

.clear {
	display: none;
	margin-top: 0px;
}

.footer {
	font-size: 14px;
	background-color: #00CFFA;
	text-align: center;
	color: #032B2F;
}

h2, h3, h4 {
	text-align: center;
}

input[type=submit] {
	background-color: #5CB2E8;
    border: none;
    color: #F3FC23;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
	font-weight: bold;
}

.rightalign {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12 px;   
  text-align: right;
}

.redstar {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 18 px;
    color: #F00;
}

textarea {
    max-width: 200px;
    max-height: 200px;
    min-width: 200px;
    min-height: 200px;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {


    display:none;
}

#slide1 {display:block
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 21px;
	left: 1px;
	width: 37px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.mySlides img {
	width: 100%;
}

/* avatar image */

.avatar {
	vertical-align: middle;
	height: 200px;
	width: 200px;
	border-radius: 50%;
	align-content: center;
	
}


.personal-links {
	background-color: #5CB2E8;
	float: left;
	margin-right: 10px;
	padding-bottom: 30px;
	margin-bottom: 30px;
	width: 30%;
	
}

.personal-links a {
	color: #e8d35c;
}
.personal-links ul {
	list-style-type: none;
	margin: 2px;

}

.personal-links img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.plink-section {
	color: #FFFFFF;
	text-decoration: underline;
}


.bio {
	overflow: auto;
	font-size: 14px;
	padding: 0px 30px 15px 15px;
	background-color: #F4F2F2
	
}

.writing {
	float: left;
	font-size: 14px;
	padding: 0px 50px 15px 50px;
}

.writing img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 45%;
	
}

.countries, .countries1 {
	padding: 0px 50px 15px 50px;
	display: inline-block;
	float: left;
	overflow: auto;
	align-content: center;
	width: 30%;
	
}

.box {
  width: 100%;
  height: 2wh;
  border: 2px solid #000;
  margin: 0 auto 15px;
  text-align: center;
  padding: 20px;
  font-weight: bold;
  border-radius: 10px;
}

.info {
  background-color: #ddd;
  border-color: #aaa; 
}

.warning {
  background-color: #FFF484;
  border-color: #DCC600;
}

.success {
  background-color: #B9FFAB;
  border-color: #116400;
  color: #116400;
}

.error {
  background-color: #EBB1B1;
  border-color: #973939;
  color: #973939;
}
