/* Yellow default style 0.3.11 */

html, body, div, form, pre, span, tr, th, td { margin:0; padding:0; border:0; vertical-align:baseline; }
body { 
	margin:1em;
	background-color:#fff; color:#717171;
	font-family:Helvetica,sans-serif; 
	font-size:0.95em; 
	font-weight:200;
	line-height:1.5;
}
h1, h2, h3, h4, h5, h6 { color:#07d; font-weight:normal; }
hr { height:1px; background:#ddd; border:0; }
code { font-size:1.1em; }
a { color:#07d; }
a:hover { color:#07d; text-decoration:underline; }
a, img { border:none; text-decoration:none; }
.sitename h1 { margin-top:0.5em; margin-bottom:0em; font-size:2.5em; }
.sitename a { color:#111; text-decoration:none; }
.navigation { margin-bottom:1em; border-bottom:1px solid #ddd; line-height:2em; }
.navigation a { color:#111; padding:0 0.3em; display:inline-block; }
.navigation a:hover { color:#07d; }
.navigation ul { margin:0 -0.3em; padding:0; list-style:none; }
.navigation li a.active { color:#111; }
.navigation li a.active:hover { color:#07d; }
.navigation li { display:inline; }
.pagination { margin:1em 0; }
.content h1 a:hover { text-decoration:none; }
.content img { max-width:100%; height:auto; }
.content form { margin:1em 0; }
.content .flexible { position:relative; padding-bottom:56.25%; padding-top:30px; }
.content .flexible iframe { position:absolute; top:0; left:0; width:100%; height:100%; }
.footer { margin-top:1em; padding:1em 0em; border-top:1px solid #ddd; }
.footer a { color:#717171; }
.footer a:hover { color:#07d; text-decoration:underline; }
.left { float:left; margin:0 1em 0 0; }
.center { display:block; margin:0 auto; }
.right { float:right; margin:0 0 0 1em; }

/* Responsive and print */

.page { margin:0 auto; max-width:62em; }

@media screen and (min-width:62em) { 
	body { width:62em; margin:1em auto; }
}
@media screen and (max-width:30em) { 
	body { margin:0.5em; font-size:0.9em; }
	.sitename h1, h1, h2 { font-size:1.3em; }
	.sitename h1, .sitename, .navigation, .footer, .page { margin:0; padding:0; border:0; }
}
@media print {
	body, h1, h2, h3, h4, h5, h6 { background-color:white; color:black; }
	.page { border:none !important; }
	.navigation, .footer { display:none !important; }
}