/* Theme: Flatsite theme */
/* Version: 0.6.9 */
/* Designer: Mark Mayberg */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
html, body, div, form, pre, span, tr, th, td { margin:0; padding:0; border:0; vertical-align:baseline; }
body {
	margin:1em;
	background-color:#fff; color:#717171;
	font-family:'Open Sans',sans-serif;
	font-size:1.0em;
	font-weight:300;
	line-height:1.5;
}
h1, h2, h3, h4, h5, h6 { color:#07d; font-weight:normal; }
h1 { font-size:2.0em; }
hr { height:1px; background:#ddd; border:0; }
strong { font-weight:bold; }
code { font-size:1.1em; }
a { color:#07d; }
a:hover { color:#07d; text-decoration:underline; }
a, img { border:none; text-decoration:none; }
.sitename { display:block; float:left; }
.sitename h1 { margin:0; }
.sitename h1 a { color:#111; text-decoration:none; }
.with-sidebar .main { margin-right:17em; }
.with-sidebar .sidebar { float:right; width:16em; margin-top:5em; padding:2px; overflow:hidden; font-size:0.9em; }
.with-sidebar .sidebar .search-form input { width:100%; box-sizing:border-box; }
.content h1:first-child, .content>*:first-child { margin-top:0; }
.content h1 a:hover { text-decoration:none; }
.content img { max-width:100%; height:auto; }
.content form { margin:1em 0; }
.content table { border-spacing:0; border-collapse:collapse; }
.content th { text-align:left; padding:0.3em; border-bottom:1px solid #ddd;}
.content td { text-align:left; padding:0.3em; border-top:1px solid #ddd;}
.content .flexible { position:relative; padding-top:0; padding-bottom:56.25%; }
.content .flexible iframe { position:absolute; top:0; left:0; width:100%; height:100%; }
.content .stretchable ul { margin:0 -0.5em; padding:0; list-style:none; text-align:center; }
.content .stretchable li { margin:0; padding:1em 0; display:inline-block; text-align:center; vertical-align:top; }
.content .stretchable a { color:#717171; text-decoration:none; }
.content .toc { margin:0; padding:0; list-style:none; }
.content .pagination { margin:1em 0; }
.content blockquote { margin-left:0; padding-left:1em; border-left:.5em solid #0a0; }
.content blockquote blockquote { margin-left:-1.5em; border-left:.5em solid #fb0; }
.content blockquote blockquote blockquote { border-color:#d00; }
.content code, pre { font-family:Consolas,"Liberation Mono",Menlo,Courier,monospace; font-size:90%;}
.content code { padding:0.15em 0.4em; margin:0; background-color:#f7f7f7; border-radius:3px; }
.content pre>code { padding:0; margin:0; white-space:pre; background:transparent; border:0; font-size:inherit; }
.content pre { padding:1em; overflow:auto; line-height:1.45; background-color:#f7f7f7; border-radius:3px; }
.footer { margin-top:2em; clear:both; }
.footer a { color:#07d; }
.footer a:hover { color:#07d; text-decoration:underline; }
.footer-left { float:left; }
.footer-right { float:right; }
.footer-right a {
	display:inline-block;
	box-sizing:border-box;
	border-radius:20px;
	width:25px;
	height:25px;
	margin-top:-20px;
	text-align:center;
	background-color:#07d;
	color:#fff;
}
.footer-right a:hover { background-color:#000; color:#fff; }
.footer-banner { clear:both; }
.left { float:left; margin:0 1em 0 0; }
.center { display:block; margin:0 auto; }
.right { float:right; margin:0 0 0 1em; }
.rounded { border-radius: 4px; }

/* Navigation */

.navigation-banner { clear:both; }
.navigation { display:block; float:right; }
.navigation { margin-top:0.9em; margin-bottom:0.9em; line-height:2em; }
.navigation a { padding:0 0.3em; }
.navigation ul { margin:0 -0.3em; padding:0; list-style:none; }
.navigation li { display:inline; }

.navigation-search { padding-bottom:1em; }
.navigation-search .search-form { position:relative; }
.navigation-search .search-text { font-family:inherit; font-size:inherit; font-weight:inherit; }
.navigation-search .search-text { padding:0.5em; border:1px solid #bbb; border-radius:4px; width:100%; box-sizing:border-box; }
.navigation-search .search-text { background-color:#fff; background-image:linear-gradient(to bottom, #fff, #fff); }
.navigation-search .search-button { position:absolute; top:0; right:0; }
.navigation-search .search-button { font-family:inherit; font-size:inherit; font-weight:inherit; }
.navigation-search .search-button { margin:5px; padding:0.3em; border:none; background-color:transparent; }

.navigation-sidebar ul { margin:0; }

.navigation-tree { display:block; float:right; }
.navigation-tree { margin-top:0.9em; margin-bottom:0.9em; line-height:2em; }
.navigation-tree a { padding:0 0.3em; }
.navigation-tree ul { margin:0 -0.3em; padding:0; list-style:none; }
.navigation-tree li { display:inline; }
.navigation-tree ul li { display:inline-block; position:relative; cursor:pointer; margin:0; }
.navigation-tree ul li:hover {}
.navigation-tree ul li ul { padding:0.3em; position:absolute; width:13em; background:#fff; z-index:100; display:none; }
.navigation-tree ul li ul { border:1px solid #bbb; border-radius:4px; box-shadow:2px 4px 10px rgba(0, 0, 0, 0.2); }
.navigation-tree ul li ul li { display:block; }
.navigation-tree ul li:hover ul { display:block; }

/* Syntax highlight */

.highlight .kw1, .highlight .kw2, .highlight .kw3, .highlight .kw4 { color:#b0b; }
.highlight .st0, .highlight .st_h, .highlight .nu0 { color:#b0b; }
.highlight .re0, .highlight .re1, .highlight .re2, .highlight .re3, .css .nu0 { color:inherit; }
.highlight .co1, .highlight .coMULTI, .highlight .sc-1 { color:inherit; }

/* Forms and buttons */

.form-control {
	margin:0; padding:2px 4px;
	display:inline-block; min-width:7em;
	background-color:#fff; color:#555;
	background-image:linear-gradient(to bottom, #fff, #fff);
	border:1px solid #bbb;
	border-radius:4px;
	font-size:0.9em; font-family:inherit; font-weight:normal; line-height:normal;
}
.btn {
	margin:0; padding:4px 22px;
	display:inline-block; min-width:7em;
	background-color:#eaeaea; color:#333333;
	background-image:linear-gradient(to bottom, #f8f8f8, #e1e1e1);
	border:1px solid #bbb;
	border-color:#c1c1c1 #c1c1c1 #aaaaaa;
	border-radius:4px;
	outline-offset:-2px;
	font-size:0.9em; font-family:inherit; font-weight:normal; line-height:1;
	text-align:center; text-decoration:none;
}
.btn:hover, .btn:focus, .btn:active {
	color:#333333;
	background-image:none; 
	text-decoration:none;
}
.btn:active { box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.1); }

/* Responsive and print */

.page { margin:0 auto; max-width:1000px; }

@media screen and (min-width:62em) { 
	body { width:60em; margin:1em auto; }
	.page{ margin:0; max-width:none; }
}
@media screen and (max-width:30em) { 
	body { margin:0.5em; font-size:0.9em; }
	.sitename h1, h1, h2 { font-size:1.2em; }
	.sitename h1, .header, .navigation, .footer, .page { margin:0; padding:0; }
	.sitename, .navigation, .navigation-tree { float:none; }
	.navigation-search { padding-top:0.5em; }
	.with-sidebar .main { margin-right:0; }
	.with-sidebar .sidebar { display:none; }
	.footer-right { display:none; }
}
@media print {
	body, h1, h2, h3, h4, h5, h6 { background-color:white; color:black; }
	.page { border:none !important; }
}