/* Yellow web interface 0.4.2 */

.yellow-bar { position:relative; overflow:hidden; line-height:2em; margin-bottom:10px; }
.yellow-bar-left { display:block; float:left; }
.yellow-bar-left a { margin-right:1em; }
.yellow-bar-right { display:block; float:right; }
.yellow-bar-right a { margin-left:1em; }
.yellow-body-modal-open { overflow:hidden; }

.yellow-pane {
	position:absolute; display:none; z-index:100;
	margin:10px 0px; padding:5px;
	background-color:#fff; color:#000; 
	border:1px solid #bbb; 
	border-radius:4px; box-shadow:2px 4px 10px rgba(0, 0, 0, 0.2);
}
.yellow-pane a { color:#000; text-decoration:none; }
.yellow-pane a:hover { color:#f00; text-decoration:none; }
.yellow-pane p { margin:0.5em; }
.yellow-pane ul { list-style:none; margin:0 0.5em; padding:0; }
.yellow-pane div { overflow:hidden; }
.yellow-arrow { position:absolute; top:0; left:0; }
.yellow-arrow:after, .yellow-arrow:before {
	position:absolute;
	bottom:100%;
	height:0; width:0;
	border:solid transparent;
	content:" ";
}
.yellow-arrow:after {
	border-color:rgba(255, 255, 255, 0);
	border-bottom-color:#fff;
	border-width:10px;
	margin-left:-10px;
}
.yellow-arrow:before {
	border-color:rgba(187, 187, 187, 0);
	border-bottom-color:#bbb;
	border-width:11px;
	margin-left:-11px;
}

.yellow-btn {
	margin:0; padding:4px 22px; min-width:7em;
	display:inline-block;
	background-color:#eaeaea; color:#333333;
	background-image:linear-gradient(to bottom, #ffffff, #e1e1e1); 
	border:1px solid #bbb;
	border-color:#d1d1d1 #d1d1d1 #aaaaaa; 
	border-radius:4px; 
	outline-offset:-2px; 
	font-size:0.9em; font-family:inherit; font-weight:normal; line-height:1;
	text-align:center; text-decoration:none;
}
.yellow-btn:hover, .yellow-btn:focus, .yellow-btn:active { 
	color:#333333;
	background-image:none; 
	text-decoration:none;
}
.yellow-btn:active { box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.1); }
.yellow-btn-red {
	background-color:#c33c35; color:#ffffff; 
	background-image:linear-gradient(to bottom, #ee5f5b, #bd362f); 
	border-color:#b13121 #b13121 #802020; 
}
.yellow-btn-red:hover, .yellow-btn-red:focus, .yellow-btn-red:active { color:#ffffff; }
.yellow-btn-green {
	background-color:#3cc335; color:#ffffff;
	background-image:linear-gradient(to bottom, #5fee5b, #36bd2f); 
	border-color:#31b121 #31b121 #20b020; 
}
.yellow-btn-green:hover, .yellow-btn-green:focus, .yellow-btn-green:active { color:#ffffff; }
.yellow-btn-yellow {
	background-color:#f0d000; color:#333333;
	background-image:linear-gradient(to bottom, #ffe100, #efc100);
	border-color:#d1c121 #d1c121 #ccaa00;
}
.yellow-btn-yellow:hover, .yellow-btn-yellow:focus, .yellow-btn-yellow:active { color:#333333; }

#yellow-pane-login { }
#yellow-pane-login h1 { margin:0.5em 0.5em; }
#yellow-pane-login p { margin:0.5em; text-align:right; }
#yellow-pane-edit { }
#yellow-pane-edit-page { margin:0; padding:5px; border:1px solid #bbb; resize:none; font-size:0.9em; }
#yellow-pane-edit-buttons { margin:8px 0; }
#yellow-pane-user { }