<?php $this->yellow->layout("about-header") ?>
<div class="content">
<div class="main" role="main">
<!-- !-->
  
<div class="about-header">
    <img class="me" src="/media/images/profilepic/pabs-cropped.jpg" alt="picture of Pablo" />
    <!-- Title -->
 
<div class="wrapper">
	    <div class="typing-demo">
		    <h1><?php echo $this->yellow->page->getHtml("titleContent") ?></h1>
	    </div>
</div>
    
      
    </div>
<?php echo $this->yellow->page->getContent() ?>
</div>
</div>
<?php $this->yellow->layout("footer") ?>
