<?php $pages = $this->yellow->content->top() ?>
<?php $this->yellow->page->setLastModified($pages->getModified()) ?>
<div class="nav_body nav_body_left">
    <?php foreach ($pages as $page): ?>
    <div class="<?php echo $page->isActive() ? 'nav_parent nav_active' : 'nav_parent' ?>">
        <?php
        $children = $page->getChildren($showInvisible = false);
        if (count($children) AND ($page->get('layout') != 'blog-start')) {
          $output = "<a class=\"nav_item\" href=\"".$page->getLocation(true)."\">".$page->getHtml("titleNavigation")."<span><svg class=\"icon nav_icon\"><use xlink:href=\"#caret\"></use></svg></span></a>";
          $output .= '<div class="nav_sub"><span class="nav_child"></span>';
          foreach ($children as $child) {
            $title = $child->get("titleNavigation");
            $curr = $child->isActive() ? ' class="active" aria-current="page"' : '';
            $output .= '<a class="nav_child nav_item" ' . $curr . 'href="' . $child->getLocation(true) . '">' . htmlspecialchars($title) . '</a>';
          }
          $output .= '</div>';
        } else {
            $output = "<a class=\"nav_item\" href=\"".$page->getLocation(true)."\">".$page->getHtml("titleNavigation")."</a>";
        }
        echo $output;
        ?>
    </div>
    <?php endforeach ?> 
    <div class="follow">
        <a href="https://github.com/pmoralesgarcia" target="_blank" rel="noopener">
          <svg class="icon">
        <use xlink:href="#github"></use>
      </svg>
        </a>
        <a href="https://twitter.com/thepablomorales" target="_blank" rel="noopener">
          <svg class="icon">
        <use xlink:href="#twitter"></use>
      </svg>
        </a>
        <a href="https://www.linkedin.com/in/pmoralesgarcia" target="_blank" rel="noopener">

          <svg class="icon">
        <use xlink:href="#linkedin"></use>
      </svg>
        </a>
          
        <a href="https://social.lifeofpablo.com">
          <svg class="icon">
        <use xlink:href="#rss"></use>
      </svg>
        </a>
      <div class="color_mode">
        <input type="checkbox" class="color_choice" id="mode">
      </div>    
    </div>
</div>
