<?php $this->yellow->layout("clarity-icons") ?>
<div class="footer" role="contentinfo">
    <div class="footer_inner wrap pale">
        <img src="<?php echo $this->yellow->page->getBase(true) ?>/media/themes/clarity.png" class="icon icon_2 transparent" alt="Clarity">
        <p>Copyright&nbsp;<span class="year"><?php echo date("Y") ?></span>&nbsp;CLARITY. All Rights Reserved
            &nbsp;
            <a class="button" href="https://lifeofpablo.com/complaint-form">Complaint Form</a>
        </p>
        <a class="to_top" href="#documentTop"><svg class="icon"><use xlink:href="#arrow"></use></svg></a></div>
    </div>
</div>
</body>
</html>
