<?php list($name, $pages) = $this->yellow->getLayoutArgs() ?>
<?php if ($pages->isPagination()): ?>
<div class="pagination" role="navigation">
<?php if ($pages->getPaginationPrevious()): ?>
<a class="previous" href="<?php echo $pages->getPaginationPrevious() ?>"><?php echo $this->yellow->text->getHtml("paginationPrevious") ?></a>
<?php endif ?>
<?php if ($pages->getPaginationNext()): ?>
<a class="next" href="<?php echo $pages->getPaginationNext() ?>"><?php echo $this->yellow->text->getHtml("paginationNext") ?></a>
<?php endif ?>
</div>
<?php endif ?>
