<?php if ($this->yellow->page->isPage("sidebar")): ?>
<div class="sidebar" role="complementary">
<?php $page = $this->yellow->page->getPage("sidebar") ?>
<?php $page->setPage("main", $this->yellow->page) ?>
<?php echo $page->getContent() ?>
</div>
<?php elseif ($this->yellow->page->isPage("navigation-sidebar")): ?>
<div class="sidebar" role="complementary">
<div class="navigation-sidebar">
<?php $pages = $this->yellow->page->getParentTop(true)->getChildren() ?>
<?php $this->yellow->page->setLastModified($pages->getModified()) ?>
<p><?php echo $page->getHtml("titleNavigation") ?></p>
<ul>
<?php foreach ($pages as $page): ?>
<li><a<?php echo $page->isActive() ? " class=\"active\"" : "" ?> href="<?php echo $page->getLocation(true) ?>"><?php echo $page->getHtml("titleNavigation") ?></a></li>
<?php endforeach ?>
</ul>
</div>
</div>
<?php endif ?>
